.form-pwd-validation {
  .form__input-wrap-field {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .form-sub-title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;

    span {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
