@import './../../../app/Sass/App.scss';

.form-login {
  .form-sub-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 32px;

    span {
      color: rgba(0, 0, 0, 0.6);
    }

    a {
      display: inline-block;
      color: $primary;

      &:hover {
        font-weight: 600;
        color: #4285f4;
      }
    }
  }

  .form__input-wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .link-pwd-validation,
  .link-forgot-pwd {
    color: $primary;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      font-weight: 600;
      color: #4285f4;
    }
  }
}
