.product-type {
  &__heading {
    &-title {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__select {
    width: 300px;
    padding: 12px 24px 11px !important;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    appearance: none;
    outline: none;
    background-image: url('./../../../../app/Images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 16.29px) 50%;
    font-size: 16px;
    line-height: 20px;
    flex-shrink: 0;
  }

  &__content {
    width: 884px;
    min-height: 436px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    &-title {
      font-size: 16px;
      line-height: 20px;
    }

    .separator {
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  &__bottom {
    &-back {
      svg {
        font-size: 18px;
        position: relative;
        top: 2px;
      }
      span {
        margin-left: 14px;
        font-size: 14px;
        line-height: 17px;
      }
    }

    &-actions {
      span {
        font-size: 14px;
        line-height: 17px;
        color: #4285f4;
        margin-right: 25px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__select-custom {
    position: relative;
    width: 734px;
    min-height: 54px;
    padding-top: 8px;
    padding-bottom: 7px;
    border: 0.5px solid #c9c9c9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;

    .close-img {
      margin-left: 18.5px;

      &.no-data {
        cursor: default;
      }
    }

    .separator {
      width: 1px;
      height: 40px;
      background-color: #d9d9d9;
    }

    .select {
      height: 100%;
      flex-grow: 1;
      gap: 6px;
      padding-right: 40px;
      background-image: url('./../../../../app/Images/arrow-down.png');
      background-repeat: no-repeat;
      background-position: calc(100% - 21px) center;

      &__list {
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        width: 100%;
        background-color: white;
        border-radius: inherit;
        border: 0.5px solid #c9c9c9;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
        max-height: 25vh;
        overflow-y: auto;
      }

      &__item {
        padding-block: 8px;
        padding-left: 24px;
        border-bottom: 1px solid #f5f5f5;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #f5f5f5;
          color: var(--primary);
        }
      }

      span {
        color: #c9c9c9;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.create-product .general {
  &__left {
    row-gap: 16px;

    .general__input-wrap {
      border: 1px solid #c9c9c9;
      padding-left: 12px;
      padding-right: 13.67px;
      border-radius: 5px;
      width: 300px;
      flex-shrink: 0;

      .separator {
        width: 1px;
        height: 22px;
        background-color: #d9d9d9;
        margin-inline: 10px;
      }

      .close-img {
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .general__input {
      font-size: 16px;
      line-height: 20px;
      border: none;
      outline: none;
      padding: 12px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  &__right {
    row-gap: 16px;

    .general__input-wrap {
      border: 1px solid #c9c9c9;
      border: 0.5px solid rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      width: 209px;
      flex-shrink: 0;
    }

    .general__input {
      border: 0.5px solid rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      font-size: 16px;
      line-height: 20px;
      border: none;
      outline: none;
      padding-block: 13px;
      padding-inline: 12px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
  }
}

.create-product .categories {
}

.create-product .inventory {
  &__top {
    label {
      font-size: 16px;
      line-height: 20px;
      width: 34px;
    }

    input {
      padding-top: 12px;
      padding-bottom: 13px;
      font-size: 16px;
      line-height: 20px;
      border: 0.5px solid rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      outline: none;
      width: 711px;
      margin-right: 6px !important;
    }

    &-desc {
      p {
        flex-shrink: 0;
        width: 717px;
        max-width: 100%;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &__bottom {
    h3 {
      font-size: 16px;
      line-height: 20px;
      width: 102px;
    }

    &-checkbox {
      column-gap: 23px;
      width: 711px;

      label {
        font-size: 16px;
        line-height: 20px;
      }

      input:checked ~ .radio-custom {
        border: 5px solid var(--primary) !important;
      }

      .radio-custom {
        $size: 20px;
        width: $size;
        height: $size;
      }

      &-desc {
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.create-product .shipping {
  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  &-checkbox {
    column-gap: 23px;

    label {
      font-size: 16px;
      line-height: 20px;
    }

    input:checked ~ .radio-custom {
      border: 5px solid var(--primary) !important;
    }

    .radio-custom {
      $size: 20px;
      width: $size;
      height: $size;
    }

    &-desc {
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.create-product .linked-products {
  row-gap: 24px;

  &__name {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(calc(-100% - 16px), -50%);
  }

  &__desc {
    width: 734px;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
  }
}

.create-product .attributes {
  &__heading {
    margin-bottom: 32px;
    $height-input: 45px;

    h3 {
      font-size: 16px;
      line-height: 20px;
    }

    h3,
    span {
      position: relative;
      height: fit-content;
      top: calc($height-input / 2);
      transform: translateY(-50%);
    }

    input {
      height: $height-input;
      outline: none;
      font-size: 16px;
      line-height: 20px;
      border: 1px solid #c9c9c9;
      border-radius: 5px;
      background-image: url('./../../../../app/Images/arrow-down.png');
      background-repeat: no-repeat;
      background-position: calc(100% - 16.29px) 50%;
      padding-block: 11.5px;
      padding-right: 32px !important;
      cursor: default;
    }

    span {
      font-size: 14px;
      line-height: 17px;
      color: #4285f4;
      height: fit-content;
    }
  }

  &__list-select {
    max-height: 25vh;
    border: 1px solid #c9c9c9;
    overflow-y: overlay;
    border-radius: 5px;
    z-index: 1;

    p {
      font-size: 14px;
      line-height: 17px;

      &:hover {
        color: var(--primary);
        font-weight: 600;
      }
    }
  }

  &__selected-item {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 18.5px;
    padding-right: 13px;

    & + .attributes__selected-item {
      margin-top: 8px;
    }

    &.active {
      background-color: #e5f4fc;

      h3 {
        color: var(--primary);
        font-weight: 600 !important;
      }

      .arrow {
        transform: rotate(180deg);
      }
    }

    .close-img {
      &:hover {
        transform: scale(1.05);
      }
    }

    .separator {
      margin-left: 18.5px;
      margin-right: 16px;
      width: 1px;
      height: 20px;
      background-color: #d9d9d9;
    }

    h3 {
      flex: 1;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__selected-detail {
    margin-left: 68px;

    .top {
      label {
        font-size: 16px;
        line-height: 20px;
      }

      .checkbox-custom {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 40px;
        height: 20px;
        position: relative;

        div {
          $size: 18px;
          position: absolute;
          top: 1px;
          left: 1px;
          width: $size;
          height: $size;
          border-radius: 50%;
          background: #ffffff;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

          &.active {
            left: unset;
            right: 0;
          }
        }
      }
    }

    .bot {
      h3 {
        font-size: 16px;
        line-height: 20px;
      }

      span {
        position: relative;
        white-space: nowrap;
        top: 27px;
        transform: translateY(-50%);
        font-size: 14px;
        line-height: 17px;
        color: #4285f4;
      }
    }
  }
}

.select-custom-wrap {
  flex-grow: 1;
  height: auto;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  position: relative;

  .close-img {
    margin-inline: 18.5px;

    &:hover {
      transform: scale(1.05);
    }
  }

  input {
    outline: none;
    border: none;
  }

  .separator {
    height: 40px;
    width: 1px;
    background-color: #d9d9d9;
  }

  .select {
    flex-grow: 1;

    input.no-item {
      padding-block: 14px;
    }

    .selected__list {
      gap: 6px;
      margin-right: 6px;
      margin-top: 8px;
      margin-bottom: 7px;
    }

    .item__selected {
      background-color: #e5f4fc;
      border-radius: 50px;
      padding-block: 10px;
      padding-inline: 6px;

      p {
        font-size: 14px;
        line-height: 17px;
        margin-right: 10px !important;
      }

      img {
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    &__children-list {
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      width: 100%;
      max-height: 25vh;
      background-color: #fff;
      border: 1px solid #c9c9c9;
      overflow-y: overlay;
      border-radius: 5px;
      z-index: 1;

      p {
        font-size: 14px;
        line-height: 17px;

        &:hover {
          color: var(--primary);
          font-weight: 600;
        }
      }
    }
  }

  .arr-img {
    padding-right: 21px;
    cursor: pointer;
  }
}
