.account-settings {
  &__right {
    flex-grow: 1;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .upload-brand__label {
    border: 0.5px dashed #000080;
    border-radius: 10px;
    padding: 12px 16px 12px 20.17px;
    cursor: pointer;

    .upload-brand-icon {
      margin-right: 12px;
    }

    .upload-brand-text {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .update-success {
    &-wrap {
      z-index: 1;
      animation: showPopup 0.15s linear;
    }
    &-overlay {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@keyframes showPopup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
