.signin-method {
  &__content {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &__password {
    padding-bottom: 49px !important;
  }

  &__right {
    width: 292px;
    flex-shrink: 0;

    &-top {
      flex-shrink: 0;

      h3,
      p {
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
      }
    }

    &-actions {
      margin-top: auto;

      h3 {
        outline: none;
        border: none;
        font-size: 16px;
        line-height: 24px;
        color: #4285f4;
        background-color: transparent;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          opacity: 0.8;
        }
      }

      .btn-update-pwd {
        letter-spacing: -0.454px;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    width: 281px;
    flex-shrink: 0;
    font-weight: 500;
  }

  &__item {
    margin-bottom: 12px !important;

    &:last-child {
      margin: 0 !important;
    }
  }

  &__input {
    background: rgba(192, 194, 194, 0.2);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10.5px 24px;
    flex-grow: 1;
  }

  &__text-error {
    margin-top: -4px !important;
    margin-bottom: 12px !important;
    margin-left: 281px !important;
    font-size: 10px;
    line-height: 12px;
  }

  &__pwd {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__btn {
    border: none;
    outline: none;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 11.75px 20px 11.75px 17.48px !important;

    img {
      height: 22.5px;
      margin-right: 10.5px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__message-error {
    font-size: 14px;
  }
}
