.button-primary {
  outline: none;
  border: none !important;
  padding: 12px 24px !important;
  border-radius: 10px !important;
  font-size: 14px !important;
  line-height: 17px !important;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
