.form-wrap {
  width: 438px;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 16px 19px;
}

.form-title {
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
}

.back-login {
  height: 14px;
  margin-top: 5px;
  margin-bottom: 21px;
  cursor: pointer;
  position: relative;

  &-icon {
    position: absolute;
    left: 4px;
    width: 16px;
    height: 14px;
    display: inline-block;
    fill: #000000;
  }
}

.logo {
  margin-bottom: 24px;
  height: 61px;
  width: 200px;
}
