.form-forgot-password {
  .form-sub-title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    font-weight: 400;

    span {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .message-success {
    color: #34a853;
  }

  .message-success,
  .message-error {
    font-size: 14px;
  }
}
