$enable-gradients: true;
$primary: #000080;
$secondary: #87bdd8;
$info: #b7d7e8;
$danger: #c5221f;
$warning: #fbbc04;

$spacer: 1rem;
$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6,
  10: $spacer * 7,
);

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 15px;
}
$enable-negative-margins: false;

@import '~bootstrap/scss/bootstrap';
$spacers: map-merge($spacers, $custom-spacers);

// Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Thin.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
// my own spacer's map
:root {
  --bs-body-font-family: 'Montserrat';
  --bs-body-color: #000;

  @each $spacer, $value in $spacers {
    --theme-spacer-#{$spacer}: #{$value} !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
