$enable-gradients: true;
$primary: #000080;
$secondary: #87bdd8;
$success: #34a853;
$info: #b7d7e8;
$danger: #c5221f;
$warning: #fbbc04;

$spacer: 1rem;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 15px;
}

@import '~bootstrap/scss/bootstrap';

// Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

// my own spacer's map
:root {
  --bs-body-font-family: 'Montserrat';
  --bs-body-color: #000;
  --primary: #000080;
  --secondary: #87bdd8;
  --info: #b7d7e8;
  --danger: #c5221f;
  --warning: #fbbc04;
}

body {
  overflow-y: overlay;
}

.cursor-pointer {
  cursor: pointer;
}
