$enable-gradients: true;
$primary: #000080;
$secondary: #87BDD8;
$info: #B7D7E8;
$danger: #C5221F;
$warning: #FBBC04;

$spacer: 1rem;
$custom-spacers :(6:$spacer* 3.5,
    7:$spacer*4,
    8:$spacer*5,
    9:$spacer*6,
    10:$spacer*7,
);

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 15px;
}

@import '~bootstrap/scss/bootstrap';
$spacers: map-merge($spacers, $custom-spacers);
@font-face {
  font-family: 'Montserrat';
  src: url('./../Fonts/Montserrat-Regular.ttf');
}
// my own spacer's map
:root {
    --bs-body-font-family: 'Montserrat';
    --bs-body-color: #000;

    @each $spacer ,
    $value in $spacers {
        --theme-spacer-#{$spacer}:#{$value} !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}
