.my-profile {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 438px;
  min-height: 420px;
  padding: 20px;

  .user-avatar {
    $size: 175px;
    width: $size;
    height: $size;
    background: #d9d9d9;
    border-radius: 10px;
    position: relative;
  }

  .upload__wrap {
    $size: 32px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #fff;
    overflow: hidden;

    input {
      display: none;
    }

    label {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 2px);
      left: 50%;
      padding: 12px;
      transform: translate(-50%, -50%);
      display: block;
    }
  }

  .user-fullname {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .user-info__list {
    list-style-type: none;
  }

  .user-info__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .user-info__icon {
    min-width: 35px;
  }

  .user-info__text {
    flex: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
}
