.notfound-wrapper{
    img{
        width: 239px;
        height: 239px;
    }
    p{
        font-size: 30px;
        line-height: 37px;
        font-weight: 600;
    }
    button{
        padding: 12px 18px;
    }
}