.default-layout {
    background-color: #B7D7E8;
    padding: 180px 0;

    .container-wrapper {
        max-width: 83.33%;
        margin: 0 auto;
        position: relative;
    }
}

.page-content {
    position: relative;
    .header {
        &__breadscrumb {
            font-weight: 600;
            font-size: 20px;
        }
    }

    .footer {
        position: absolute;
        bottom: -24px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
    }

}